App_WebReferences/webref/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">MLKP Web Service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="getLoginDetailsGlobal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginDetailsGlobalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginDetailsGlobalResult" type="tns:getDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="getDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="midname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="zonecode" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="tinno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permitno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="deptcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="messagedetail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getbranchnameGlobal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="branchcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getbranchnameGlobalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getbranchnameGlobalResult" type="tns:authenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="authenticationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="midname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errmsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="landline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permitno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kp4code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginAuthenticationGlobal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branchcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zonecode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="stationcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAuthenticationGlobalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAuthenticationGlobalResult" type="tns:authenticationResponseGlobal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="authenticationResponseGlobal">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="midname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errmsg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="vat" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="permitno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="telno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="faxno" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginAuthentication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="branchcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zonecode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="stationcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAuthenticationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAuthenticationResult" type="tns:authenticationResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="registrycode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResponseResult" type="tns:loginResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="loginResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchcode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="zonecode" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="stationno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="branchname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="branchaddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="middlename" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="roleid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tinno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="corpname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="empname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="errorcode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="errmsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="landline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cellphone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permitno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="kp4code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getLoginDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLoginDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLoginDetailsResult" type="tns:getDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="stationcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="zonecode" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="version" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="stationcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="tns:resetPasswordResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="resetPasswordResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="respcode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isChanged" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDetail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="sysAddTestMe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stationcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sysAddTestMeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sysAddTestMeResult" type="tns:sysAdTester" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="sysAdTester">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="respcode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="errorDetail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numberOfDBs" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DBConnection" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringUsers" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConnectionStringCMMS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="checkpassStrength">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkpassStrengthResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkpassStrengthResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkpassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userlogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userpass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="checkpasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkpasswordResult" type="tns:checkpassreqResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="checkpassreqResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="respcode" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="respmsg" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="isExpired" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="isNotrequiredpass" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getLoginDetailsGlobalSoapIn">
    <wsdl:part name="parameters" element="tns:getLoginDetailsGlobal" />
  </wsdl:message>
  <wsdl:message name="getLoginDetailsGlobalSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginDetailsGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="getbranchnameGlobalSoapIn">
    <wsdl:part name="parameters" element="tns:getbranchnameGlobal" />
  </wsdl:message>
  <wsdl:message name="getbranchnameGlobalSoapOut">
    <wsdl:part name="parameters" element="tns:getbranchnameGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAuthenticationGlobalSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAuthenticationGlobal" />
  </wsdl:message>
  <wsdl:message name="LoginAuthenticationGlobalSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAuthenticationGlobalResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAuthenticationSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAuthentication" />
  </wsdl:message>
  <wsdl:message name="LoginAuthenticationSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAuthenticationResponse" />
  </wsdl:message>
  <wsdl:message name="LoginResponseSoapIn">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginResponseSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponseResponse" />
  </wsdl:message>
  <wsdl:message name="getLoginDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getLoginDetails" />
  </wsdl:message>
  <wsdl:message name="getLoginDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getLoginDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="sysAddTestMeSoapIn">
    <wsdl:part name="parameters" element="tns:sysAddTestMe" />
  </wsdl:message>
  <wsdl:message name="sysAddTestMeSoapOut">
    <wsdl:part name="parameters" element="tns:sysAddTestMeResponse" />
  </wsdl:message>
  <wsdl:message name="checkpassStrengthSoapIn">
    <wsdl:part name="parameters" element="tns:checkpassStrength" />
  </wsdl:message>
  <wsdl:message name="checkpassStrengthSoapOut">
    <wsdl:part name="parameters" element="tns:checkpassStrengthResponse" />
  </wsdl:message>
  <wsdl:message name="checkpasswordSoapIn">
    <wsdl:part name="parameters" element="tns:checkpassword" />
  </wsdl:message>
  <wsdl:message name="checkpasswordSoapOut">
    <wsdl:part name="parameters" element="tns:checkpasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="MLLoginSoap">
    <wsdl:operation name="getLoginDetailsGlobal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use for getting the information for the username</wsdl:documentation>
      <wsdl:input message="tns:getLoginDetailsGlobalSoapIn" />
      <wsdl:output message="tns:getLoginDetailsGlobalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getbranchnameGlobal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use for checking whether the user is allowed to do remote transaction on the branch</wsdl:documentation>
      <wsdl:input message="tns:getbranchnameGlobalSoapIn" />
      <wsdl:output message="tns:getbranchnameGlobalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginAuthenticationGlobal">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use for checking whether the user is allowed to do remote transaction on the branch</wsdl:documentation>
      <wsdl:input message="tns:LoginAuthenticationGlobalSoapIn" />
      <wsdl:output message="tns:LoginAuthenticationGlobalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginAuthentication">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use for checking whether the user is allowed to do remote transaction on the branch</wsdl:documentation>
      <wsdl:input message="tns:LoginAuthenticationSoapIn" />
      <wsdl:output message="tns:LoginAuthenticationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginResponse">
      <wsdl:input message="tns:LoginResponseSoapIn" />
      <wsdl:output message="tns:LoginResponseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLoginDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use for getting the information for the username</wsdl:documentation>
      <wsdl:input message="tns:getLoginDetailsSoapIn" />
      <wsdl:output message="tns:getLoginDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sysAddTestMe">
      <wsdl:input message="tns:sysAddTestMeSoapIn" />
      <wsdl:output message="tns:sysAddTestMeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkpassStrength">
      <wsdl:input message="tns:checkpassStrengthSoapIn" />
      <wsdl:output message="tns:checkpassStrengthSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="checkpassword">
      <wsdl:input message="tns:checkpasswordSoapIn" />
      <wsdl:output message="tns:checkpasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MLLoginSoap" type="tns:MLLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLoginDetailsGlobal">
      <soap:operation soapAction="http://localhost/getLoginDetailsGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbranchnameGlobal">
      <soap:operation soapAction="http://localhost/getbranchnameGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAuthenticationGlobal">
      <soap:operation soapAction="http://localhost/LoginAuthenticationGlobal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAuthentication">
      <soap:operation soapAction="http://localhost/LoginAuthentication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginResponse">
      <soap:operation soapAction="http://localhost/LoginResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDetails">
      <soap:operation soapAction="http://localhost/getLoginDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://localhost/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://localhost/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sysAddTestMe">
      <soap:operation soapAction="http://localhost/sysAddTestMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkpassStrength">
      <soap:operation soapAction="http://localhost/checkpassStrength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkpassword">
      <soap:operation soapAction="http://localhost/checkpassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MLLoginSoap12" type="tns:MLLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLoginDetailsGlobal">
      <soap12:operation soapAction="http://localhost/getLoginDetailsGlobal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbranchnameGlobal">
      <soap12:operation soapAction="http://localhost/getbranchnameGlobal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAuthenticationGlobal">
      <soap12:operation soapAction="http://localhost/LoginAuthenticationGlobal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAuthentication">
      <soap12:operation soapAction="http://localhost/LoginAuthentication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginResponse">
      <soap12:operation soapAction="http://localhost/LoginResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLoginDetails">
      <soap12:operation soapAction="http://localhost/getLoginDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://localhost/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://localhost/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sysAddTestMe">
      <soap12:operation soapAction="http://localhost/sysAddTestMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkpassStrength">
      <soap12:operation soapAction="http://localhost/checkpassStrength" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkpassword">
      <soap12:operation soapAction="http://localhost/checkpassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MLLogin">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">MLKP Web Service</wsdl:documentation>
    <wsdl:port name="MLLoginSoap" binding="tns:MLLoginSoap">
      <soap:address location="https://192.168.13.248/developer/Phil/Client/7.36/UserLogin/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="MLLoginSoap12" binding="tns:MLLoginSoap12">
      <soap12:address location="https://192.168.13.248/developer/Phil/Client/7.36/UserLogin/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>